{{- /* Welches Profil soll geladen werden? */ -}}
{{- $type := promptString "Device Type (desktop/laptop/default)" "default" -}}

[data]
    device_type = {{ $type | quote }}

    {{- /* Desktop = Dein Main-PC (Nvidia, Dual Monitor) */}}
    has_nvidia = {{ eq $type "desktop" }}
    
    {{- /* Laptop = Dein mobiler PC (Batterie, Backlight) */}}
    is_laptop = {{ eq $type "laptop" }}
