// vim: ft=jsonc
[
    {
        "name": "bar_DP1_1",
        {{- if and (eq .profile "personal") (eq .chassis "desktop") }}
        "output": ["DP-1"],
        {{- end }}
        "layer": "top",
        "position": "top",
        "height": 26,
        "spacing": 2,
        "modules-left": ["group/hardware"],
        "modules-center": ["hyprland/workspaces"],
        "modules-right": ["clock"],
        "include": [
            "~/.config/waybar/default-modules.json"
        ],
        "hyprland/workspaces": {
            "format": "{icon}",
            "persistent-workspaces": {
                "DP-1": [ 1, 2, 3, 4, 5 ]
            }
        }
    }

    {{- if and (eq .profile "personal") (eq .chassis "desktop") }}
    ,{
        "name": "bar_DP1_2",
        "output": ["DP-1"],
        "layer": "top",
        "position": "bottom",
        "height": 29
    },
    {
        "name": "bar_HDMIA1_1",
        "output": ["HDMI-A-1"],
        "layer": "top",
        "position": "top",
        "height": 45,
        "include": [
            "~/.config/waybar/default-modules.json"
        ],
        "modules-center": ["hyprland/workspaces"],
        "modules-right": ["clock"],
        "hyprland/workspaces": {
            "format": "{icon}",
            "persistent-workspaces": {
                "HDMI-A-1": [ 6, 7, 8, 9, 10 ]
            }
        }
    },
    {
        "name": "bar_HDMIA1_2",
        "output": ["HDMI-A-1"],
        "layer": "top",
        "position": "bottom",
        "height": 39
    }
    {{- end }}
]
