@import "mocha.css";

* {
	font-family: Jetbrains Mono Nerd;
    	color: @text;
}

/* --- MONITOR 1 (DP-1) --- */
.bar_DP1_1 {
    	background-color: @basealpha;
    	border-bottom: 2px solid @rosewater;
}

.bar_DP1_2 {
    	background-color: @basealpha;
    	border-top: 2px solid @rosewater;
}

/* --- MONITOR 2 (HDMI-A-1) --- */
.bar_HDMIA1_1 {
    	background-color: @basealpha;
    	border-bottom: 2px solid @rosewater;
}

.bar_HDMIA1_2 {
    	background-color: @basealpha;
    	border-top: 2px solid @rosewater;
}

/* --- GLOBALE ELEMENTE (Standard für Scale 1.0) --- */
#workspaces button {
    	font-size: 11px;
    	background: transparent;
    	box-shadow: none;
    	margin-bottom: 3px;
}

#workspaces button.active {
	border: 1px solid @rosewater;
}

#clock {
	border-radius: 3px;
	font-size: 14px;
	background: @surface1;
	padding-left: 5px;
    	padding-right: 5px;
	margin-right: 35px;
	margin-bottom: 3px;
	box-shadow: none;
}

/* * ------------------------------------------------------------------
 * SCALING FIX FÜR HDMI-A-1 (Faktor ~1.33)
 * Gleicht das Hyprland-Scaling von 0.75 aus (1 / 0.75 = 1.333)
 * ------------------------------------------------------------------ 
 */

/* Vergrößerte Workspace Buttons für Monitor 2 (11px -> ~15px) */
.bar_HDMIA1_1 #workspaces button {
	font-size: 15px;
	margin-bottom: 4px;
}

/* Vergrößerte Uhr für Monitor 2 (14px -> ~19px) */
.bar_HDMIA1_1 #clock {
	font-size: 19px;
	margin-right: 47px;  /* Margin (35px) muss auch skaliert werden */
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 4px;
}
