/* * Tokyo Night Storm Palette 
*/

@define-color background #24283b;
@define-color foreground #c0caf5;

@define-color black   #414868;
@define-color red     #f7768e;
@define-color green   #9ece6a;
@define-color yellow  #e0af68;
@define-color blue    #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan    #7dcfff;
@define-color white   #a9b1d6;

/* UI Colors */
@define-color active_tab #7aa2f7;
@define-color urgent     #f7768e;
